html, body {
    margin: 0;
    font-family: 'Outfit';
}

body {
    background-image: url("./assets/images/background.png");
    background-size: cover;
    background-repeat: repeat-y;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.header-grid {
    display: grid;
    grid-gap: 15px;
    margin: 30px 45px 0px 45px;
    grid-template-columns: 1fr 1fr;
}

.header-name {
    gap: 16px;
    display: flex;
    align-items: center;
    p {
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
    }
    img {
        width: 40px;
    }
}

.header-tabs > ul {
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    li {
        font-size: 20px;
        font-weight: 300;
        list-style: none;
        a {
            color: #FFF;
            text-decoration: none;
        }
    }
}