<header>
  <div class="header-container">
    <p>Appointment Request</p>
    <button (click)="onClose()">
      <img src="../../assets/icons/close-no-outline.png">
    </button>
  </div>
</header>

<body>
  <div>
    <p class="font-500">{{ data.package | titlecase }} Package:</p>
    <br>
    <p>Thank you for choosing Fluffy`s Auto Detailing. You have selected the {{ data.package | titlecase }} Package. Please review and confirm the details  below and proceed to booking an appointment.
      <br><br>
      Your service includes:</p>
    <ul class="service-list">
      <li *ngFor="let service of serviceList" class="font-500">{{service}}</li>
    </ul>
    <p>Please fill out the form below, enter your contact information as well as the date and time you would like to schedule an appointment.
        We will confirm your appointment with an email or, inform you that the date and time you selected is unavailable.
        If that time is unavailable, we will suggest to you another date and/or time.
    </p>
  </div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div>
          <mat-label>First Name</mat-label>
          <mat-form-field appearance="outline" style="margin-bottom: -1.25em;">
            <input matInput formControlName="firstName" type="text">
          </mat-form-field>
          <mat-error *ngIf="firstName?.invalid && (firstName?.touched || firstName?.dirty)">
            This field is required.
          </mat-error>
        </div>
        <div>
          <mat-label>Last Name</mat-label>
          <mat-form-field appearance="outline" style="margin-bottom: -1.25em;">
            <input matInput formControlName="lastName" type="text">
          </mat-form-field>
          <mat-error *ngIf="lastName?.invalid && (lastName?.touched || lastName?.dirty)">
            This field is required.
          </mat-error>
        </div>
      </div>

      <div class="form-row">
        <div>
          <mat-label>Phone Number</mat-label>
          <mat-form-field appearance="outline" style="margin-bottom: -1.25em;">
            <input matInput formControlName="phoneNumber" type="tel">
          </mat-form-field>
          <mat-error *ngIf="phoneNumber?.invalid && (phoneNumber?.touched || phoneNumber?.dirty)">
            You must enter a valid 10 digit phone number.
          </mat-error>
        </div>
        <div>
          <mat-label>Email</mat-label>
          <mat-form-field appearance="outline" style="margin-bottom: -1.25em;">
            <input matInput formControlName="email" type="text">
          </mat-form-field>
          <mat-error *ngIf="email?.invalid && (email?.touched || email?.dirty)">
            You must enter a valid email address.
          </mat-error>
        </div>
      </div>

      <div class="form-row">
        <div>
          <mat-label>Appointment Date</mat-label>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="datePicker" formControlName="appointmentDate" type="date">
            <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>

          </mat-form-field>
        </div>
        <div>
          <mat-label>Appointment Time</mat-label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="appointmentTime" type="time">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</body>
