html, body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Outfit';
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url("./assets/images/background.png");
}

h1, h2, h3, h4, p, a {
  color: #FFF;
  margin: 0;
}

li, p, a {
  font-size: 20px;
  font-weight: 300;
}

ul {
  padding: 0;
}

section {
  margin: 0px 100px;
  scroll-margin: 100px;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gap-5 {
  gap: 5px;
}

.mobile-tab-bar {
  bottom: 0;
  left: 50%;
  height: 72px;
  position: fixed;
  max-width: 370px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: #F8CF61;
  transform: translateX(-50%);
}

.mobile-tab-bar.active {
  display: block;
}

.mobile-tab-bar > nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.icons {
  gap: 24px;
  height: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
}

.header-tabs > ul {
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  li {
    cursor: pointer;
    list-style: none;
      a {
          text-decoration: none;
      }
  }
}

.hero-container, .about-container {
  display: grid;
  grid-gap: 15px;
  margin-top: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .main-heading {
      margin-top: 100px;
      h2 {
          font-size: 64px;
      }
      p {
          margin-top: 25px;
          font-family: "Roboto";
      }
  }

  .hero-image {
      min-width: 300px;
      min-height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("./assets/images/car-wash.png");
  }

  .about-image {
      min-width: 300px;
      min-height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("./assets/images/male-avatar.png");
  }
}

.hero-buttons, .service-button {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  button {
      cursor: pointer;
      min-width: 200px;
      font-size: 24px;
      font-weight: 500;
      padding: 24px 32px;
      border-radius: 100px;
      font-family: "Outfit";

  }

  #hero-btn-1 {
      color: black;
      border: 2px solid #9FBFFF;
      background-color: #9FBFFF;
  }

  #hero-btn-2 {
      color: #FFF;
      background-color: inherit;
      border: 2px solid #F8CF61;
  }
}

section#offer {
  margin-top: 100px;
  p {
      font-size: 24px;
      font-weight: 500;
  }
}

section#about {
  margin-top: 200px;
  margin-bottom: 100px;
}

section#contact {
  margin-bottom: 100px;
}

.offer-container {
  gap: 25px;
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #F36B7F;
  justify-content: space-evenly;
}

.guarantee {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
      font-size: 20px;
      font-weight: 500;
  }
}

.services-container {
  margin-top: 60px;
  text-align: center;
  h2 {
      font-size: 64px;
  }

  div.service-button {
      justify-content: center;
      button {
          color: black;
          border: 2px solid #9FBFFF;
          background-color: #9FBFFF;
      }
  }
}

footer {
  background-color: #382583;
  padding: 60px 100px 110px 100px;
}

@media screen and (max-width: 820px) {
  .services-container {
      text-align: left;
  }
}

@media only screen and (max-width: 494px) {
  section {
      margin: 0px 20px;
  }
  footer {
      padding: 50px 20px 100px 20px;
  }
}

@media only screen and (max-width: 694px) {
  .hero-buttons {
      justify-content: center;
  }
}

@media only screen and (max-width: 624px) {
  .offer-container {
      padding: 30px 15px;
  }
}

@media only screen and (max-width: 862px) {
  .offer-container {
      justify-content: space-between;
  }

  .guarantee {
      width: 100%;
      img {
          margin-left: auto;
      }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
