<div id="navbar" class="mobile-tab-bar">
  <nav>
      <div class="icons">
          <!-- About me tab -->
          <div id="home" class="nav-tab active" onclick="toSection('home', id)">
              <img src="./assets/icons/home.png">
              <p>Home</p>
          </div>
          <!-- Education tab -->
          <div id="pricing" class="nav-tab" onclick="changeMobileTab(id, true)">
              <img src="./assets/icons/pricing.png">
              <p>Pricing</p>
          </div>
          <!-- Experience tab -->
          <div id="contact" class="nav-tab" onclick="changeMobileTab(id, true)">
              <img src="./assets/icons/contact.png">
              <p>Contact</p>
          </div>
          <!-- Projects tab -->
          <div id="gallery" class="nav-tab" onclick="changeMobileTab(id, true)">
              <img src="./assets/icons/camera.png">
              <p>Gallery</p>
          </div>
      </div>
  </nav>
</div>
